<app-app-header></app-app-header>
<app-interpolation></app-interpolation> 
 <app-property-binding></app-property-binding>
<!--<app-class-binding></app-class-binding> 
<app-style-binding></app-style-binding>-->
<app-app-parent></app-app-parent>
<app-product-list></app-product-list>
<app-product-datails></app-product-datails>
<app-ng-if></app-ng-if>
<app-event-binding></app-event-binding>
<app-ng-for></app-ng-for>
<app-login-tdf></app-login-tdf>
<app-register-tdf></app-register-tdf>
<router-outlet></router-outlet>
<app-app-footer></app-app-footer> 
